/*

arc colors:
#1d1a2c - основной
#e0e1fe - шрифты

*/

/*

скрываем элементы в разынх частях интерфейса
hiding elements in different parts of the interface

*/
.UrlBar-UrlObfuscationWarning,
.pageload-indicator,
.pageload-ticker,
.create-qr-code,
.pageload .progress-done,
.drop-down-menu,
.BookmarkButton,
.expand-arrow,
.button-toolbar-menu-indicator.disabled,
.button-popup-pos-below::before,
.ToolbarButtonPopup-DefaultStyles::before
{
    display: none !important;
}

.mainbar {
    border-bottom: none !important;
}

.mainbar .toolbar-mainbar {
    height: 30px;
}

button.vivaldi {
    margin: 0 0 0 1px !important;
    height: 26px !important;
    width: 26px !important;
    margin: 0 0 0 9px !important;
    padding: 0 !important;
}

button.vivaldi .vivaldi-v svg {
    width: 18px !important;
    height: 18px !important;
}

.workspace-popup svg {
    width: 14px !important;
    height: 14px !important;
}

#browser.win.address-top .toolbar:has(.window-buttongroup.on-mainbar), 
#browser.linux.address-top .toolbar:has(.window-buttongroup.on-mainbar) {
    min-height: calc(30px / var(--uiZoomLevel));
    gap: 8px;
}

.button-toolbar > button {
    height: 26px !important;
    min-width: 26px !important;
}

.button-addressfield,
.ToolbarButton-Button {
    border: none !important;
}

.UrlBar-UrlFieldWrapper {
    padding-left: 11px;
    padding-top: 1px;
    max-width: 200px;
}

.SearchField, .MailSearchField-Inner, .UrlBar-AddressField {
    background-color: transparent !important;
    border: none !important;
    flex-grow: 3 !important;
    justify-content: flex-end !important;
}

#urlFieldInput {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 11px;
    border-radius: 4px !important;
    line-height: 26px;
}

.UrlFragment-Wrapper {
    line-height: 26px;
    padding: 0 10px !important;
}

.UrlFragment--Highlight {
    font-size: 11px;
}

.disable-titlebar#browser.win .window-buttongroup {
    height: 30px;
}

.toolbar-large .button-toolbar .button-icon svg {
    width: 22px;
    height: 22px;
}

.toolbar-divider.button-toolbar .button-icon:not(.favicon), 
.toolbar-divider.button-toolbar .button-icon svg, 
.toolbar-insideinput .button-toolbar .button-icon:not(.favicon), 
.toolbar-insideinput .button-toolbar .button-icon svg {
    width: 15px;
    height: 15px;
}

.toolbar, 
.toolbar-group, 
.toolbar-wrap {
    justify-content: space-evenly;
}

#webpage-stack {
    border-top-left-radius: 6px;
    overflow: hidden !important;
}

.separator hr {
    border: none;
    border-bottom: 1px solid var(--colorImageFg, var(--colorAccentFg));
}

#browser .tab-position .tab.active {
    background-color: var(--colorAccentBgAlpha) !important;
}

#tabs-tabbar-container {
    padding: 8px 6px 0;
}

.color-behind-tabs-on .SearchField:focus-within, 
.color-behind-tabs-on .MailSearchField-Inner:focus-within, 
.color-behind-tabs-on .UrlBar-AddressField:focus-within {
    outline: 0px solid var(--colorHighlightBg);
    outline-offset: 0px;
}

.StatusInfo {
    padding-left: 200px !important;
}

#urlFieldInput,
.UrlFragment-Wrapper {
    width: 100%;
    text-align: center;
    padding: 0 30px;
}
